@import "tailwindcss";
@config "../../tailwind.config.js";

@theme {
  --color-primary: #000000;
  --color-secondary: #171717;
  --color-accent: #2d2011;
  --color-textlight: #51463b;
  --color-text: #61574d;
}

:root {
  --color-primary: #000000;
  --color-secondary: #171717;
  --color-accent: #2d2011;
  --color-text: #61574d;
}

/* Dark mode */
[data-theme="dark"] {
  --color-primary: #000000;
  --color-secondary: #171717;
  --color-accent: #2d2011;
  --color-text: #61574d;
}

* {
  box-sizing: border-box;
}
